.main {
  // .main__head

  padding: 30px 15px 0 15px;

  &__head {
    display: flex;
    justify-content: space-between;

    &-title {
      font-weight: 500;
      padding-bottom: 20px;
    }

    &-link {
      color: #51a4fe;
    }
  }

  // .main__indicators

  &__indicators {
    display: flex;
    width: 100%;
    height: 170px;
    gap: 10px;
  }

  &__smal-indicators {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    gap: 10px;
  }

  &__smal-indicators > div {
    border-radius: 30px;
  }
}
