.job {
  // .job__head

  &__head {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  // .job__head-img

  &__head-img {
    width: 90px;
    height: 90px;
    margin-right: 15px;
  }

  // .job__head-content

  &__head-content {
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 4px 0;
  }

  // .job__head-title

  &__head-title {
    font-size: 15px;
    font-weight: 500;
  }

  // .job__head-subtitle

  &__head-subtitle {
    font-weight: 600;
    font-size: 14px;
  }

  // .job__head-date

  &__head-date {
    color: #b2b0b0;
    font-size: 14px;
  }

  // .job__description

  &__description {
    color: #b2b2b2;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 20px;
  }

  // .job__salary

  &__salary-text {
    font-weight: 600;
    padding-bottom: 8px;
  }

  &__salary-value {
    margin-bottom: 15px;
  }

  // .job__btn

  &__btn {
    width: 100%;

    padding: 15px 0;
    margin-bottom: 10px;

    border: none;
    border-radius: 30px;
    background-color: #d0ff00;

    font-size: 15px;
    font-weight: 600;
  }

  // .job__more

  &__more {
    padding: 20px;
    border-radius: 40px;
    background-color: #e1dfe4;
  }

  // .job__more-header

  &__more-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  // .job__more-title

  &__more-title {
    font-weight: 700;
  }

  // .job__more-body

  &__more-body {
    display: flex;
    justify-content: space-between;
  }

  // .job__more-content

  &__more-content {
  }

  // .job__more-text

  &__more-text {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 15px;
  }

  // .job__more-subtext

  &__more-subtext {
    color: #9ea1a5;
    font-size: 13px;
  }

  &__more-img{
    width: 30px;
    height: 30px;
  }
}

